# Wine quality prediction with a Dense Network (DNN)

## Objectives  :
- Predict the quality of wines, based on their analysis
- Understanting the principal and the architecture of a regression with a dense neural network with backup and restore of the trained model.

The Wine Quality datasets are made up of analyses of a large number of wines, with an associated quality (betwenn 0 and 10).
This dataset is provide by :
Paulo Cortez, University of Minho, Guimar√§es, Portugal

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os,sys

from IPython.display import Markdown
from importlib import reload

# Step 2 - Retrieve data

In [7]:
data = pd.read_csv('winequality-red.csv', header =0, sep=';')
display(data.head(5).style.format("{0:.2f}"))
print ('Missing Data:',data.isna().sum().sum(), ' Shape is:', data.shape)

Missing Data: 0  Shape is: (1599, 12)

# Step 3 - Preparing the data

## 3.1 - Split data

We will use 80% of the data for training and 20% for validation.
x will be the data of the analysis and y the quality.

In [8]:
# ------ split => train, test
data = data.sample(frac=1., axis=0)
data_train = data.sample(frac=0.8, axis=0)
data_test = data.drop(data_train.index)

# ------ split => x, y (y is quality)
x_train = data_train.drop('quality', axis=1)
y_train = data_train['quality']
x_test = data_test.drop('quality', axis=1)
y_test = data_test['quality']

print ('Original data shape was:', data.shape)
print ('x_train:', x_train.shape, ' y_train:', y_train.shape)
print ('x_test:', x_test.shape, ' y_test:', y_test.shape)

Original data shape was: (1599, 12)
x_train: (1279, 11)  y_train: (1279,)
x_test: (320, 11)  y_test: (320,)